body {
    
    font-family: Helvetica, Arial, sans-serif;
}

ol {
   margin: 0;
   padding: 0;
   width: 1000px;
}

li {
   list-style: none;
   display: block;
   width: 90px;
   height: 90px;
   padding: 5px;
   float: left;
   text-align: right;
}
